<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897954359041-tlufmgsquisetfqmjavh18fal0rlrcv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897954359041-tlufmgsquisetfqmjavh18fal0rlrcv0</string>
	<key>API_KEY</key>
	<string>AIzaSyALICqcflvKcVkVOsijgn6MK9HwLNXrTk4</string>
	<key>GCM_SENDER_ID</key>
	<string>897954359041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.developItSolutions.Custom-Login</string>
	<key>PROJECT_ID</key>
	<string>jamfschoollogin</string>
	<key>STORAGE_BUCKET</key>
	<string>jamfschoollogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897954359041:ios:d83d90cb645afd4f351d00</string>
	<key>DATABASE_URL</key>
	<string>https://jamfschoollogin.firebaseio.com</string>
</dict>
</plist>